<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Bikes</title>
</head>
<body>

        <h1>Add Bikes</h1>

        <form action="/insert" method="POST">
            <label>Bike Name</label><br>
            <input type="text" name="name" ><br>

            <label>Cost</label><br>
            <input type="" name="cost"><br>

            <label>Varient</label><br>
            <input type="" name="Varient"><br>

            <label>Poster</label><br>
            <input type="url" name="poster"><br>

            <input type="submit" name="">


        </form>

</body>
</html>